.navbar {
  background-color: #1c1917;
  top: 70px !important;
  padding: 1.25rem !important;
  height: 80px;
  font-family: Poppins, sans-serif;
}

.tobeto-img {
  width: 175px;
  height: 35px;
  margin-bottom: 10px;
}

ul {
  justify-content: center;
  display: flex;
  text-decoration: none;
  list-style: none;
}

li {
  margin-top: 10px;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  color: #fff;
  text-decoration: none;
  padding: 25px;
}

.text-light {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb),var(--bs-text-opacity))!important;
}
.mx-4 {
  margin-right: 1rem!important;
  margin-left: 1rem!important;
}
.border-light {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-light-rgb),var(--bs-border-opacity))!important;
}
.btn {
  border-radius: 30px !important;
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.875rem;
  --bs-btn-font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-font-weight: 700;
  --bs-btn-line-height: 1.25;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 25px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 hsla(0,0%,100%,.15),0 1px 1px rgba(0,0,0,.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb),.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mx-4 {
  margin-right: 1.5rem!important;
  margin-left: 1.5rem!important;
}
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-radius: var(--bs-border-radius);
}
.btn {
  padding: .5rem 1rem!important;
}

.btn-rainbow {
  position: sticky;
  background: #181717;
  color: #fff
}

.btn-rainbow:before {
  animation: rainbow-border 1.5s linear infinite;
  background: linear-gradient(70deg,#0ebeff,#ffdd40,#ae63e4,#47cf73,#0ebeff,#ffdd40,#ae63e4,#47cf73);
  width: 100%;
  height: 100%;
  background-size: 200% 200%
}

.btn-rainbow:after,.btn-rainbow:before {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  left: 0;
  z-index: -1
}

.btn-rainbow:after {
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  margin: 3px;
  background: inherit
}

a {
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
  text-decoration: underline;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  outline-width: 0;
}

.btn:hover {
  color: var(--btn-hover-color);
  background-color: var(--btn-hover-bg);
  border-color: var(--btn-hover-border-color)
}

@keyframes rainbow-border {
  0% {
      background-position: 0 50%
  }

  50% {
      background-position: 100% 50%
  }

  to {
      background-position: 200% 50%
  }
}