/*! CSS Used from: https://tobeto.com/_next/static/css/446e840b31078fae.css */
* {
    box-sizing: border-box;
  }
  button {
    outline: none;
    outline-width: 0;
  }
  .btn {
    padding: 0.5rem 1rem !important;
  }
  .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  .row {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  .g-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-4 {
    --bs-gutter-y: 1.5rem;
  }
  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  }
  .btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-border-radius: var(--bs-border-radius);
  }
  .btn-primary {
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
  }
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  hr {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: 0.25;
  }
  ul {
    padding-left: 2rem;
  }
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  img,
  svg {
    vertical-align: middle;
  }
  button {
    border-radius: 0;
  }
  button:focus:not(:focus-visible) {
    outline: 0;
  }
  button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  button {
    text-transform: none;
  }
  [type="button"],
  button {
    -webkit-appearance: button;
  }
  [type="button"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  .container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 576px) {
    .container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }
  .row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .g-4 {
    --bs-gutter-x: 1rem;
  }
  .g-4 {
    --bs-gutter-y: 1rem;
  }
  @media (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.33333333%;
    }
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.66666667%;
    }
  }
  .btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.875rem;
    --bs-btn-font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-font-weight: 700;
    --bs-btn-line-height: 1.25;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 25px;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, 0.15),
      0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem
      rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none;
    }
  }
  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
  }
  .btn:first-child:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
  }
  .btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity);
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #93f;
    --bs-btn-border-color: #93f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #822bd9;
    --bs-btn-hover-border-color: #7a29cc;
    --bs-btn-focus-shadow-rgb: 168, 82, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #7a29cc;
    --bs-btn-active-border-color: #7326bf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #93f;
    --bs-btn-disabled-border-color: #93f;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-toggle {
    white-space: nowrap;
  }
  .dropdown-toggle:after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
  .dropdown-toggle:empty:after {
    margin-left: 0;
  }
  .d-flex {
    display: flex !important;
  }
  .w-100 {
    width: 100% !important;
  }
  .justify-content-start {
    justify-content: flex-start !important;
  }
  .justify-content-end {
    justify-content: flex-end !important;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }
  .my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
  .model-padding {
    padding: 1em 0;
  }
  .my-langs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1em;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 10px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #828282;
    border: 0 #fff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:active,
  ::-webkit-scrollbar-thumb:hover {
    background: #93f;
  }
  ::-webkit-scrollbar-track {
    background: #e3e3e3;
    border: 0 #fff;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #e3e3e3;
  }
  ::-webkit-scrollbar-track:active {
    background: #828282;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  .badge-container {
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 10px;
    padding-right: 10px;
    flex-basis: content;
  }
  .badge-card {
    background: #fff;
    box-shadow: 0 10px 24px 0 hsla(0, 0%, 9%, 0.05);
    border-radius: 12px;
    padding: 1em;
    width: calc(14% - 12px) !important;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 760px) {
    .my-langs {
      flex-direction: column;
      gap: 1em;
    }
  }
  @media screen and (max-width: 799px) {
    .badge-card {
      width: calc(50% - 24px) !important;
      margin: 0 8px;
    }
  }
  .cv-padding {
    padding: 22px;
  }
  .cv-box {
    background: #fff;
    box-shadow: 0 7px 29px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    margin-top: 1em;
  }
  .cv-box .cv-pp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 144px;
  }
  .cv-box .cv-pp .cv-pp-img {
    z-index: 11;
    position: absolute;
  }
  .cv-box .cv-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 22px;
  }
  .cv-box .cv-info .info-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .cv-box .cv-info .info-box .info-icon {
    background: #fefefe;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    padding: 12px 7px 0;
    display: flex;
    align-items: center;
  }
  .cv-box .cv-info .info-box .info-icon.name:before {
    content: url(https://tobeto.com/cv-name.svg);
    display: flex;
    align-items: center;
  }
  .cv-box .cv-info .info-box .info-icon.date:before {
    content: url(https://tobeto.com/cv-date.svg);
    display: flex;
    align-items: center;
  }
  .cv-box .cv-info .info-box .info-icon.mail:before {
    content: url(https://tobeto.com/cv-mail.svg);
    display: flex;
    align-items: center;
  }
  .cv-box .cv-info .info-box .info-icon.phone:before {
    content: url(https://tobeto.com/cv-phone.svg);
    display: flex;
    align-items: center;
  }
  .cv-box .cv-info .info-box .info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    word-break: break-all;
  }
  .cv-box .cv-info .info-box .info-text .header {
    font-weight: 500;
    font-size: 10px;
    color: #828282;
  }
  .cv-box .cv-info .info-box .info-text .text {
    font-weight: 600;
    font-size: 16px;
    color: #181818;
  }
  .cv-box .cv-box-header span {
    font-weight: 600;
    font-size: 18px;
    color: #323232;
  }
  .cv-box .cv-box-header hr {
    margin: 0.5rem 0;
    color: rgba(153, 51, 255, 0.4);
    border: 0;
    border-top: 2px solid;
    opacity: 0.4;
  }
  .cv-box .cv-social-media {
    display: flex;
    align-items: center;
    gap: calc((100% - 158px) / 2);
    margin-top: 1em;
  }
  .react-calendar-heatmap rect {
    rx: 10;
  }
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  .react-calendar-heatmap .empty-data {
    fill: #cacaca;
  }
  .react-calendar-heatmap .min-data {
    fill: #b6f;
  }
  .react-calendar-heatmap .mid-data {
    fill: #93f;
  }
  .hm-colors {
    display: flex;
    align-items: center;
    margin-top: 1em;
    gap: 4px;
  }
  .hm1-color {
    background-color: #cacaca;
  }
  .hm1-color,
  .hm2-color {
    width: 14px;
    height: 14px;
  }
  .hm2-color {
    background-color: #361259;
  }
  .hm3-color {
    background-color: #5c1f99;
  }
  .hm3-color,
  .hm4-color {
    width: 14px;
    height: 14px;
  }
  .hm4-color {
    background-color: #93f;
  }
  .hm5-color {
    background-color: #b6f;
    width: 14px;
    height: 14px;
  }
  .area {
    background: hsla(20, 1%, 59%, 0.5);
    background: -webkit-linear-gradient(270deg, #8f94fb, #4e54c8);
    height: inherit;
    border-radius: 12px;
  }
  .area,
  .circles {
    width: 100%;
    position: absolute;
  }
  .circles {
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
  }
  .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: hsla(0, 0%, 100%, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  .circles li:first-child {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  .radar-labels {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .radar-labels .label {
    display: flex;
    align-items: center;
  }
  .radar-labels .label .legend {
    color: #fff;
    font-size: 10px;
    min-width: 32px;
    padding: 4px 8px;
    text-align: center;
    margin-right: 8px;
    border-radius: 5px;
  }
  .radar-labels .label .legend.legend1 {
    background-color: #eec272;
  }
  .radar-labels .label .legend.legend2 {
    background-color: #e288b6;
  }
  .radar-labels .label .legend.legend3 {
    background-color: #d77e6f;
  }
  .radar-labels .label .legend.legend4 {
    background-color: #b38f6a;
  }
  .radar-labels .label .legend.legend5 {
    background-color: #6667ab;
  }
  .radar-labels .label .legend.legend6 {
    background-color: #d75078;
  }
  .radar-labels .label .legend.legend7 {
    background-color: #217925;
  }
  .radar-labels .label .legend.legend8 {
    background-color: #85a0a9;
  }
  .radar-labels .label .legendName {
    font-size: 13px;
    color: #000;
    font-weight: 500;
  }
  .cv-edit-icon:before {
    content: url(https://tobeto.com/edit2.svg);
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: auto;
    cursor: pointer;
  }
  .cv-share-icon {
    margin: 0 !important;
    padding: 0 !important;
  }
  .cv-share-icon:before {
    content: url(https://tobeto.com/share.svg);
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: auto;
    cursor: pointer;
  }
  .cv-share-icon:after {
    display: none !important;
  }
  .cv-see-icon:before {
    content: url(https://tobeto.com/eye.svg);
    display: flex;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: auto;
    cursor: pointer;
  }
  .envantoryList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    gap: 1em;
  }
  .envantoryList .envantory-result {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 10px 24px hsla(0, 0%, 9%, 0.12);
    background-color: #fff;
    padding: 0.75em;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 12px;
    transition: 0.3s;
    border: 2px solid transparent;
  }
  .envantoryList .envantory-result .examName {
    color: #828282;
    font-weight: 500;
  }
  .envantoryList .envantory-result .examTime {
    color: #828282;
    font-weight: 500;
    font-size: 14px;
  }
  .envantoryList .envantory-result:hover {
    border: 2px solid #93f;
    box-shadow: 2px 10px 24px rgba(157, 0, 255, 0.12);
  }
  /*! CSS Used from: Embedded */
  .chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
  }
  .chartjs-size-monitor,
  .chartjs-size-monitor-expand,
  .chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
  }
  .chartjs-size-monitor-expand > div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0;
  }
  .chartjs-size-monitor-shrink > div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
  }
  /*! CSS Used from: Embedded */
  .__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
  }
  .__react_component_tooltip::before,
  .__react_component_tooltip::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
  }
  .__react_component_tooltip.place-bottom::before {
    top: 0;
    left: 50%;
    margin-left: -11px;
  }
  /*! CSS Used from: Embedded */
  .ta195e4d5-28d5-4085-9820-aa9d936cb57e {
    color: #fff;
    background: #222;
    border: 1px solid transparent;
    border-radius: undefinedpx;
    padding: 8px 21px;
  }
  .ta195e4d5-28d5-4085-9820-aa9d936cb57e.place-bottom {
    margin-top: 10px;
  }
  .ta195e4d5-28d5-4085-9820-aa9d936cb57e.place-bottom::before {
    content: "";
    background-color: inherit;
    position: absolute;
    z-index: -1;
    width: 18px;
    height: 10px;
  }
  .ta195e4d5-28d5-4085-9820-aa9d936cb57e.place-bottom::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-top-right-radius: undefinedpx;
    border: 1px solid transparent;
    background-color: #222;
    z-index: -2;
    top: -6px;
    left: 50%;
    margin-left: -6px;
    transform: rotate(45deg);
  }
  /*! CSS Used keyframes */
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 12px;
    }
    to {
      transform: translateY(-1000px) rotate(2turn);
      opacity: 0;
      border-radius: 50px;
    }
  }
  @keyframes chartjs-render-animation {
    from {
      opacity: 0.99;
    }
    to {
      opacity: 1;
    }
  }

  


  * {
    box-sizing: border-box;
  }
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  .skills {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .skill {
    padding: 10px 20px;
    background: #fff;
    box-shadow: 2px 10px 24px hsla(0, 0%, 9%, 0.12);
    border-radius: 54px;
    text-align: left;
    width: 100%;
  }
  .skill:hover {
    background: #93f;
    color: #fff;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    width: 10px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: #828282;
    border: 0 #fff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:active,
  ::-webkit-scrollbar-thumb:hover {
    background: #93f;
  }
  ::-webkit-scrollbar-track {
    background: #e3e3e3;
    border: 0 #fff;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #e3e3e3;
  }
  ::-webkit-scrollbar-track:active {
    background: #828282;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }


* {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.d-flex {
  display: flex !important;
}
.w-100 {
  width: 100% !important;
}
.flex-column {
  flex-direction: column !important;
}
.lang {
  width: calc(33% - 12px);
}
.lang {
  box-shadow: 0 10px 24px 0 hsla(0, 0%, 9%, 0.05);
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
}
.lang-info {
  gap: 8px;
}
.lang-info,
.lang-title {
  display: flex;
  align-items: center;
}
.lang-title:before {
  content: url(https://tobeto.com/globe.svg);
  color: #828282;
  display: flex;
  margin-right: 8px;
}
.lang-title .lang-name {
  font-size: 15px;
  font-weight: 500;
  color: #828282;
  text-transform: capitalize;
}
.lang-title .lang-degree {
  font-size: 12px;
  font-weight: 500;
  color: hsla(0, 0%, 51%, 0.8);
}
.lang-degree-symbol {
  width: 38px;
  height: 38px;
  padding: 8px;
  background-color: #f3f3f3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #828282;
}
.lang-degree-symbol.main-lang {
  position: relative;
}
.lang-degree-symbol.main-lang:before {
  content: url(https://tobeto.com/home.svg);
  display: flex;
  margin-top: 8px;
}
.my-langs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #828282;
  border: 0 #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #93f;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  border: 0 #fff;
  border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
  background: #e3e3e3;
}
::-webkit-scrollbar-track:active {
  background: #828282;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
@media screen and (max-width: 760px) {
  .my-langs {
    flex-direction: column;
    gap: 1em;
  }
  .lang {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}
.row {
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}
*,
:after,
:before {
  box-sizing: border-box;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.d-flex {
  display: flex !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.me-0 {
  margin-right: 0 !important;
}
.me-2 {
  margin-right: 0.5rem !important;
}
.skills {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1em;
}
.skill {
  padding: 10px 20px;
  background: #fff;
  box-shadow: 2px 10px 24px hsla(0, 0%, 9%, 0.12);
  border-radius: 54px;
  text-align: left;
  width: 100%;
}
.skill:hover {
  background: #93f;
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #828282;
  border: 0 #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #93f;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  border: 0 #fff;
  border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
  background: #e3e3e3;
}
::-webkit-scrollbar-track:active {
  background: #828282;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
@media screen and (max-width: 1000px) {
  .text-truncate {
    white-space: break-spaces !important;
  }
}
.png_icon {
  margin: 0 auto;
}
.png_icon:before {
  background-image: url(https://tobeto.com/png.png);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: "";
  cursor: default;
}


/*! CSS Used from: https://tobeto.com/_next/static/css/446e840b31078fae.css */
a {
  color: inherit;
  text-decoration: none;
  outline: none;
  outline-width: 0;
}
* {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}
a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #828282;
  border: 0 #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #93f;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  border: 0 #fff;
  border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
  background: #e3e3e3;
}
::-webkit-scrollbar-track:active {
  background: #828282;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.cv-box .cv-social-media {
  display: flex;
  align-items: center;
  gap: calc((100% - 158px) / 2);
  margin-top: 1em;
}
.cv-box .cv-social-media .cv-github:after {
  content: url(https://tobeto.com/cv-github.svg);
  display: block;
  background: no-repeat scroll 7px 10px;
  background-size: 1.5em 1.5em;
}
.cv-box .cv-social-media .cv-linkedin:after {
  content: url(https://tobeto.com/cv-linkedn.svg);
  display: block;
  background: no-repeat scroll 7px 10px;
  background-size: 1.5em 1.5em;
}

.cv-box .cv-social-media .cv-instagram:after {
  content: url(https://tobeto.com/cv-insta.svg);
  display: block;
  background: no-repeat scroll 7px 10px;
  background-size: 1.5em 1.5em;
}
.cv-box .cv-social-media .cv-twitter:after {
  content: url(https://tobeto.com/cv-twitter.svg);
  display: block;
  background: no-repeat scroll 7px 10px;
  background-size: 1.5em 1.5em;
}
.cv-box .cv-social-media .cv-behance:after {
  content: url(https://tobeto.com/cv-behance.svg);
  display: block;
  background: no-repeat scroll 7px 10px;
  background-size: 1.5em 1.5em;
}
.cv-box .cv-social-media .cv-dribble:after {
  content: url(https://tobeto.com/cv-dribble.svg);
  display: block;
  background: no-repeat scroll 7px 10px;
  background-size: 1.5em 1.5em;
}




* {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: border-box;
}
ul {
  padding-left: 2rem;
}
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
img {
  vertical-align: middle;
}
.rounded-circle {
  border-radius: 50% !important;
}
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #828282;
  border: 0 #fff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background: #93f;
}
::-webkit-scrollbar-track {
  background: #e3e3e3;
  border: 0 #fff;
  border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
  background: #e3e3e3;
}
::-webkit-scrollbar-track:active {
  background: #828282;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.cv-box .cv-pp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 144px;
}
.cv-box .cv-pp .cv-pp-img {
  z-index: 11;
  position: absolute;
}
.area {
  background: hsla(20, 1%, 59%, 0.5);
  background: -webkit-linear-gradient(270deg, #8f94fb, #4e54c8);
  height: inherit;
  border-radius: 12px;
}
.area,
.circles {
  width: 100%;
  position: absolute;
}
.circles {
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: hsla(0, 0%, 100%, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.circles li:first-child {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 12px;
  }
  to {
    transform: translateY(-1000px) rotate(2turn);
    opacity: 0;
    border-radius: 50px;
  }
}
